header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-bar{
    display: flex;
    border: 1px solid black;
    border-radius: 5px;
}

.nav-item{
    padding: 5px 1em;
    width: 80px;
    border-right: 1px solid black;
    text-align: center;
    cursor: pointer;
}

.nav-item:hover{
    background:lightblue;
    margin-top: -3px;
}

.nav-bar:last-child{
    border-right: none;
}

.logo{
    height:2em;
}

.hero{
    height: 550px;
    background-image: url('');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: yellow;
    
}
.wrapper {
    display: FLEX;
}

.headquarters-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:0 1em;
}
.headquarters-image{
    height: 5em;
    width: 5em;
    border-radius: 50%;
    border : 1px solid black;
}